ise/
build/
sim/verilator/

/sim/csrc/
/sim/*.daidir/
/sim/AN.DB/
/sim/simv*
/sim/*.key
/sim/work.lib++/

/sim/verdiLog/
/sim/*.log
/sim/*.fsdb
/sim/verdi_config_file

/sim/*.init

/sim/novas.rc
/sim/novas.conf